Resources/2019loans.csv
Resources/2020Q1loans.csv
Resources/Generator/LoanStats_2019Q1.csv.zip
Resources/Generator/LoanStats_2019Q2.csv.zip
Resources/Generator/LoanStats_2019Q3.csv.zip
Resources/Generator/LoanStats_2019Q4.csv.zip
Resources/Generator/LoanStats_2020Q1.csv.zip